@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Jacques+Francois+Shadow&Oswald:wght@500&family=Roboto:ital,wght@1,500&family=Xanh+Mono&display=swap");

body {
  margin: 0;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }
}

html {
  background-color: #000;
  background-image: url(https://images.unsplash.com/photo-1531972497489-8eb337acf6e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=193456e9385b553747a5e0f0cbc7badb&auto=format&fit=crop&w=1334&q=80);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

body,
.moreSnow {
  &:before,
  &:after {
    content: "";
    position: fixed;
    top: -3000%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(black, 0.01);
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 30%;
    animation-name: snow;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

body {
  &:before {
    filter: blur(6px);
    opacity: 0.8;
  }
  &:after {
    filter: blur(1px);
    top: -1500%;
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 90%;
    animation-duration: 200s;
  }
}

.moreSnow {
  z-index: 5;

  &:before {
    filter: blur(4px);
    opacity: 0.8;
    top: -2500%;
    background-size: 60%;
    animation-duration: 600s;
  }

  &:after {
    filter: blur(2px);
    opacity: 0.8;
    top: -2000%;
    background-image: url(https://laviwebfiles.com/stage/codepen/4-2-white-snow-png.png);
    background-size: 70%;
    animation-duration: 300s;
  }
}

@keyframes snow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}

.wrapper {
  height: 100%;
  min-height: 100dvh;
  width: 100vw;
  color: white;
  text-align: center;
  padding: 16px;
  overflow-x: scroll;

  @media (min-width: 501px) {
    padding: 32px;
  }
}

.gateway {
  background: rgba(15, 98, 53, 0.9);
  z-index: 10000;
  width: 500px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .password {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    line-height: 21px;
  }
  .passwordLabel {
    font-family: "Henny Penny", cursive;
    font-size: 32px;
    line-height: 1.1;
    color: #ffeb0a;
  }
}
