@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Jacques+Francois+Shadow&family=Parisienne&display=swap");

$destkop-width-diff: 13.3333333333px;

.calendar {
  position: relative;
  height: calc(100vh - 64px);
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
  z-index: 10;
  opacity: 0;

  .door {
    position: absolute;
    font-family: "Henny Penny", cursive;
    letter-spacing: 2px;
    font-size: 40px;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f6235;
    margin: auto;
    color: #fff;
    border: 5px solid #a58c24;
    height: 9vw;
    width: calc(16.5% - #{$destkop-width-diff});
    padding-top: 10px;

    // only door exactly same across viewpoints
    &.door25 {
      left: 50%;
      top: 100%;
      transform: translate(-50%, -100%);
    }

    @media (min-width: 501px) {
      &:not(:nth-child(6n)) {
        margin-right: 16px;
      }

      &.door3,
      &.door11,
      &.door24,
      &.door18 {
        left: 0%;
      }

      &.door16,
      &.door13,
      &.door10,
      &.door6 {
        left: calc(16.5% + 16px - #{$destkop-width-diff});
      }

      &.door23,
      &.door7,
      &.door22,
      &.door20 {
        left: calc(33% + 16px - #{$destkop-width-diff});
      }

      &.door1,
      &.door12,
      &.door15,
      &.door2 {
        left: calc(49.5% + 16px - #{$destkop-width-diff});
      }

      &.door5,
      &.door14,
      &.door9,
      &.door17 {
        left: calc(66% + 16px - #{$destkop-width-diff});
      }

      &.door19,
      &.door8,
      &.door21,
      &.door4 {
        left: calc(82.5% + 16px - #{$destkop-width-diff});
      }

      &.door11,
      &.door13,
      &.door7,
      &.door12,
      &.door14,
      &.door8 {
        top: 25%;
        transform: translateY(-25%);
      }

      &.door24,
      &.door10,
      &.door22,
      &.door15,
      &.door9,
      &.door21 {
        top: 50%;
        transform: translateY(-50%);
      }

      &.door18,
      &.door6,
      &.door20,
      &.door2,
      &.door17,
      &.door4 {
        top: 75%;
        transform: translateY(-75%);
      }
    }

    @media (max-width: 500px) {
      font-size: 24px;
      height: 20vw;
      width: calc(25% - 12px);

      &:not(:nth-child(4n)) {
        margin-right: 16px;
      }

      &.door3,
      &.door11,
      &.door7,
      &.door12,
      &.door24,
      &.door18 {
        left: 0%;
      }

      &.door16,
      &.door8,
      &.door17,
      &.door6,
      &.door9,
      &.door10 {
        left: calc(25% + 4px);
      }

      &.door23,
      &.door13,
      &.door4,
      &.door21,
      &.door22,
      &.door20 {
        left: calc(50% + 4px);
      }

      &.door1,
      &.door5,
      &.door14,
      &.door19,
      &.door15,
      &.door2 {
        left: calc(75% + 4px);
      }

      &.door11,
      &.door8,
      &.door13,
      &.door5 {
        top: calc(1 / 6 * 100%);
        transform: translateY(calc(-1 / 6 * 100%));
      }

      &.door7,
      &.door17,
      &.door14,
      &.door4 {
        top: calc(2 / 6 * 100%);
        transform: translateY(calc(-2 / 6 * 100%));
      }

      &.door12,
      &.door19,
      &.door9,
      &.door21 {
        top: calc(3 / 6 * 100%);
        transform: translateY(calc(-3 / 6 * 100%));
      }

      &.door24,
      &.door10,
      &.door22,
      &.door15 {
        top: calc(4 / 6 * 100%);
        transform: translateY(calc(-4 / 6 * 100%));
      }

      &.door18,
      &.door6,
      &.door20,
      &.door2 {
        top: calc(5 / 6 * 100%);
        transform: translateY(calc(-5 / 6 * 100%));
      }
    }

    &.active {
      cursor: pointer;
      z-index: 15;
    }
  }
}

.present {
  font-family: fantasy;
  font-size: 38px;
  padding: 32px;
  position: fixed;
  color: orange;
  z-index: 20;
  background: #0f6235;
  top: 32px;
  bottom: 32px;
  right: 32px;
  left: 32px;
  border: 7px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - 64px);
  max-height: calc(100vh - 64px);

  @media (max-width: 500px) {
    align-items: flex-start;
    line-height: 2;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    padding: 32px 24px;
    top: 16px;
    bottom: 16px;
    right: 16px;
    left: 16px;
  }

  .presentText {
    opacity: 0;

    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  .backBtn {
    position: absolute;
    bottom: 32px;
    left: 32px;
    background: none;
    border: none;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    outline: none;

    img {
      height: 32px;
    }
  }
}

.hidden {
  display: none;
}
