.timeLeft {
  font-family: "Henny Penny", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  padding: 24px 16px;
  z-index: 100;
  background-color: black;
  border-radius: 15px;
  background: rgba(15, 98, 53, 0.9);
  opacity: 0;
  max-width: 80%;

  @media (max-width: 500px) {
    font-size: 24px;
    top: 45%;
  }

  .name {
    margin-bottom: 16px;

    span {
      text-decoration: line-through;
    }
  }

  .timer {
    margin-top: 16px;
    opacity: 0;

    .seconds {
      animation: blinking infinite 1s;
    }
  }
}

@keyframes blinking {
  0% {
    color: red;
  }
  100% {
    color: white;
  }
}
