.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  padding: 12px;
  border-radius: 30px;
  background: rgba(15, 98, 53, 0.8);
  max-width: 80%;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.textWrapper {
  display: inline-block;
}

.text {
  font-family: "Xanh Mono", cursive;
  display: inline;
  color: white;
  letter-spacing: 2px;
  font-size: 32px;
  line-height: 1.2;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.cursor {
  display: inline-block;
  vertical-align: baseline;
  width: 2px;
  height: 1em;
  margin-left: 2px;
  background-color: orange;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: orange;
  }
}
